<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title> Marcador de truco </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="background"></div>
  <div class="container">
    <h1 class="atual-point ion-text-center">Valendo: {{valendo}}</h1>
    <div class="itens">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button [fill]="corBotao(1)" color="dark" (click)="pontuacaoAtual(1)" expand="block"> 1 </ion-button>
          </ion-col>
          <ion-col>
            <ion-button [fill]="corBotao(3)" color="dark" (click)="pontuacaoAtual(3)" expand="block">3</ion-button>
          </ion-col>
          <ion-col>
            <ion-button [fill]="corBotao(6)" color="dark" (click)="pontuacaoAtual(6)" expand="block">6</ion-button>
          </ion-col>
          <ion-col>
            <ion-button [fill]="corBotao(9)" color="dark" (click)="pontuacaoAtual(9)" expand="block">9</ion-button>
          </ion-col>
          <ion-col>
            <ion-button [fill]="corBotao(12)" color="dark" (click)="pontuacaoAtual(12)" expand="block">12</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h1 class="ion-text-center point-time">TIME 1</h1>
          </ion-col>
          <ion-col></ion-col>
          <ion-col>
            <h1 class="ion-text-center point-time">TIME 2</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button color="dark" (click)="pontuacaoTime(1, '+')" expand="block">+</ion-button>
          </ion-col>
          <ion-col></ion-col>
          <ion-col>
            <ion-button color="dark" (click)="pontuacaoTime(2, '+')" expand="block">+</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h1 class="ion-text-center center-point">{{pontosTime1}}</h1>
          </ion-col>
          <ion-col></ion-col>
          <ion-col>
            <h1 class="ion-text-center center-point">{{pontosTime2}}</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col><ion-button color="dark" (click)="pontuacaoTime(1, '-')" expand="block">-</ion-button></ion-col>
          <ion-col></ion-col>
          <ion-col><ion-button color="dark" (click)="pontuacaoTime(2, '-')" expand="block">-</ion-button></ion-col>
        </ion-row>
      </ion-grid>
      <h1>PARTIDAS</h1>
      <ion-card>
        <ion-item>
          <ion-label>TIME 1</ion-label>
          <ion-chip slot="end">
            <ion-label>{{partidasTime1}}</ion-label>
          </ion-chip>
        </ion-item>
        <ion-item>
          <ion-label>TIME 2</ion-label>
          <ion-chip slot="end">
            <ion-label>{{partidasTime2}}</ion-label>
          </ion-chip>
        </ion-item>
      </ion-card>
      <ion-row>
        <ion-col>
          <ion-button (click)="limpar()" color="dark" expand="block">LIMPAR</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
