.background {
  height: 100%;
  width: 100%;
  background: url("../../assets/fundo-truco.png");
  background-size: cover;
  filter: grayscale(100%);
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
}
.container {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.itens {
  width: 95%;
}

.center-point {
  background-color: #ccc;
  border-radius: 10%;
  padding: 10px;
}

h1 {
  font-weight: bolder;
}

.atual-point {
  background-color: #ccc;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.point-time {
  width: 100%;
  padding: 10px;
}
